Copyright 2024 The Chain-of-Table authors

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

# Demo of Chain of Tables

Paper: https://arxiv.org/abs/2401.04398

In [1]:
import pandas as pd

from src.chain_of_table.utils.load_data import wrap_input_for_demo
from src.chain_of_table.utils.llm import GigaChat_CoT
from src.chain_of_table.utils.helper import *
from src.chain_of_table.utils.evaluate import *
from src.chain_of_table.utils.chain import *
from src.chain_of_table.operations import *

In [2]:
# Default parameters
dataset_path: str = "data/tabfact/test.jsonl"
raw2clean_path: str = "data/tabfact/raw2clean.jsonl"

In [3]:
giga_cot = GigaChat_CoT()
giga_cot.get_model_options()

{'temperature': 0, 'n': 1, 'top_p': 1, 'max_tokens': 150}

In [4]:
statement = "the wildcats kept the opposing team scoreless in four games"
table_caption = "1947 kentucky wildcats football team"
table_text = [
    ['game', 'date', 'opponent', 'result', 'wildcats points', 'opponents', 'record'],
    ['1', 'sept 20', 'ole miss', 'loss', '7', '14', '0 - 1'],
    ['2', 'sept 27', 'cincinnati', 'win', '20', '0', '1 - 1'],
    ['3', 'oct 4', 'xavier', 'win', '20', '7', '2 - 1'],
    ['4', 'oct 11', '9 georgia', 'win', '26', '0', '3 - 1 , 20'],
    ['5', 'oct 18', '10 vanderbilt', 'win', '14', '0', '4 - 1 , 14'],
    ['6', 'oct 25', 'michigan state', 'win', '7', '6', '5 - 1 , 13'],
    ['7', 'nov 1', '18 alabama', 'loss', '0', '13', '5 - 2'],
    ['8', 'nov 8', 'west virginia', 'win', '15', '6', '6 - 2'],
    ['9', 'nov 15', 'evansville', 'win', '36', '0', '7 - 2'],
    ['10', 'nov 22', 'tennessee', 'loss', '6', '13', '7 - 3']
]
answer = "True"

In [5]:
async def demo_func():
    demo_sample = wrap_input_for_demo(
        statement=statement, table_caption=table_caption, table_text=table_text
    )
    proc_sample, dynamic_chain_log = await dynamic_chain_exec_one_sample(
        sample=demo_sample, llm=giga_cot
    )
    output_sample = await simple_query(
        sample=proc_sample,
        table_info=get_table_info(proc_sample),
        llm=giga_cot,
        use_demo=True,
        llm_options=giga_cot.get_model_options()
    )
    cotable_log = get_table_log(output_sample)
    return demo_sample, proc_sample, output_sample, cotable_log
demo_sample, proc_sample, output_sample, cotable_log = await demo_func()

In [7]:
print(f'Statements: {output_sample["statement"]}\n')
print(f'Table: {output_sample["table_caption"]}')
print(f"{pd.DataFrame(table_text[1:], columns=table_text[0])}\n")
for table_info in cotable_log:
    if table_info["act_chain"]:
        table_text = table_info["table_text"]
        table_action = table_info["act_chain"][-1]
        if "skip" in table_action:
            continue
        if "query" in table_action:
            result = table_info["cotable_result"]
            if result == "YES":
                print(f"-> {table_action}\nThe statement is True\n")
            else:
                print(f"-> {table_action}\nThe statement is False\n")
        else:
            print(f"-> {table_action}\n{pd.DataFrame(table_text[1:], columns=table_text[0])}")
            if 'group_sub_table' in table_info:
                group_column, group_info = table_info["group_sub_table"]
                group_headers = ["Group ID", group_column, "Count"]
                group_rows = []
                for i, (v, count) in enumerate(group_info):
                    if v.strip() == "":
                        v = "[Empty Cell]"
                    group_rows.append([f"Group {i+1}", v, str(count)])
                print(f"{pd.DataFrame(group_rows, columns=group_headers)}")
            print()

print(f"Groundtruth: The statement is {answer}")

Statements: the wildcats kept the opposing team scoreless in four games

Table: 1947 kentucky wildcats football team
  game     date        opponent result wildcats points opponents      record
0    1  sept 20        ole miss   loss               7        14       0 - 1
1    2  sept 27      cincinnati    win              20         0       1 - 1
2    3    oct 4          xavier    win              20         7       2 - 1
3    4   oct 11       9 georgia    win              26         0  3 - 1 , 20
4    5   oct 18   10 vanderbilt    win              14         0  4 - 1 , 14
5    6   oct 25  michigan state    win               7         6  5 - 1 , 13
6    7    nov 1      18 alabama   loss               0        13       5 - 2
7    8    nov 8   west virginia    win              15         6       6 - 2
8    9   nov 15      evansville    win              36         0       7 - 2
9   10   nov 22       tennessee   loss               6        13       7 - 3

-> f_select_row(row 1, row 2, row 3, row 4)
  game     date       opponent result wildcats points opponents      record
0    2  sept 27     cincinnati    win              20         0       1 - 1
1    3    oct 4         xavier    win              20         7       2 - 1
2    4   oct 11      9 georgia    win              26         0  3 - 1 , 20
3    5   oct 18  10 vanderbilt    win              14         0  4 - 1 , 14

-> f_select_column(opponents)
  opponents
0         0
1         7
2         0
3         0

-> simple_query()
The statement is True

Groundtruth: The statement is True

In [9]:
import pickle 
with open("/media/ntfs_disk/Pycharn/test_vllm/results/tabfact/cache/case-0.pkl", 'rb') as f:
    d = pickle.load(f)
d

({'statement': 'the wildcats kept the opposing team scoreless in four games',
  'label': 1,
  'table_caption': '1947 kentucky wildcats football team',
  'table_text': [['game',
    'date',
    'opponent',
    'result',
    'wildcats points',
    'opponents',
    'record'],
   ['1', 'sept 20', 'ole miss', 'loss', '7', '14', '0 - 1'],
   ['2', 'sept 27', 'cincinnati', 'win', '20', '0', '1 - 1'],
   ['3', 'oct 4', 'xavier', 'win', '20', '7', '2 - 1'],
   ['4', 'oct 11', '9 georgia', 'win', '26', '0', '3 - 1 , 20'],
   ['5', 'oct 18', '10 vanderbilt', 'win', '14', '0', '4 - 1 , 14'],
   ['6', 'oct 25', 'michigan state', 'win', '7', '6', '5 - 1 , 13'],
   ['7', 'nov 1', '18 alabama', 'loss', '0', '13', '5 - 2'],
   ['8', 'nov 8', 'west virginia', 'win', '15', '6', '6 - 2'],
   ['9', 'nov 15', 'evansville', 'win', '36', '0', '7 - 2'],
   ['10', 'nov 22', 'tennessee', 'loss', '6', '13', '7 - 3']],
  'table_id': '1-24560733-1.html.csv',
  'id': 'test-0',
  'chain': [],
  'cleaned_statement': 'the wildcat keep the oppose team scoreless in 4 game'},
 {'statement': 'the wildcats kept the opposing team scoreless in four games',
  'label': 1,
  'table_caption': '1947 kentucky wildcats football team',
  'table_text': [['game',
    'date',
    'opponent',
    'result',
    'wildcats points',
    'opponents',
    'record'],
   ['1', 'sept 20', 'ole miss', 'loss', '7', '14', '0 - 1'],
   ['2', 'sept 27', 'cincinnati', 'win', '20', '0', '1 - 1'],
   ['3', 'oct 4', 'xavier', 'win', '20', '7', '2 - 1'],
   ['4', 'oct 11', '9 georgia', 'win', '26', '0', '3 - 1 , 20'],
   ['5', 'oct 18', '10 vanderbilt', 'win', '14', '0', '4 - 1 , 14'],
   ['6', 'oct 25', 'michigan state', 'win', '7', '6', '5 - 1 , 13'],
   ['7', 'nov 1', '18 alabama', 'loss', '0', '13', '5 - 2'],
   ['8', 'nov 8', 'west virginia', 'win', '15', '6', '6 - 2'],
   ['9', 'nov 15', 'evansville', 'win', '36', '0', '7 - 2'],
   ['10', 'nov 22', 'tennessee', 'loss', '6', '13', '7 - 3']],
  'table_id': '1-24560733-1.html.csv',
  'id': 'test-0',
  'chain': [{'operation_name': 'add_column',
    'parameter_and_conf': [("('points allowed', ['14', '0', '7', '0', '0', '6', '13', '6', '0', '13'])",
      np.float64(1.0))]},
   {'operation_name': 'select_row',
    'parameter_and_conf': [("['2', '3', '6', '7']", np.float64(1.0))]},
   {'operation_name': 'select_column',
    'parameter_and_conf': [("['game', 'opponents', 'result']",
      np.float64(1.0))]},
   {'operation_name': 'group_column',
    'parameter_and_conf': [("('result', [('win', 3), ('loss', 1)])",
      np.float64(1.0))]}],
  'cleaned_statement': 'the wildcat keep the oppose team scoreless in 4 game'},
 [{'act_chain': [],
   'last_operation': '<init>',
   'possible_next_operations': ['add_column',
    'select_row',
    'select_column',
    'group_column',
    'sort_column'],
   'prompt': 'If the table does not have the needed column to tell whether the statement is True or False, we use f_add_column() to add a new column for it. For example,\n/*\ncol : rank | lane | player | time\nrow 1 :  | 5 | olga tereshkova (kaz) | 51.86\nrow 2 :  | 6 | manjeet kaur (ind) | 52.17\nrow 3 :  | 3 | asami tanno (jpn) | 53.04\n*/\nStatement: there are one athlete from japan.\nFunction: f_add_column(country of athlete)\nExplanation: The statement is about the number of athletes from japan. We need to known the country of each athlete. There is no column of the country of athletes. We add a column "country of athlete".\n\nIf the table only needs a few rows to tell whether the statement is True or False, we use f_select_row() to select these rows for it. For example,\n/*\ntable caption : jeep grand cherokee.\ncol : years | displacement | engine | power | torque\nrow 1 : 1999 - 2004 | 4.0l (242cid) | power tech i6 | - | 3000 rpm\nrow 2 : 1999 - 2004 | 4.7l (287cid) | powertech v8 | - | 3200 rpm\nrow 3 : 2002 - 2004 | 4.7l (287cid) | high output powertech v8 | - | -\nrow 4 : 1999 - 2001 | 3.1l diesel | 531 ohv diesel i5 | - | -\nrow 5 : 2002 - 2004 | 2.7l diesel | om647 diesel i5 | - | -\n*/\nStatement: the jeep grand cherokee with the om647 diesel i5 had the third lowest numbered displacement.\nFunction: f_select_row(row 1, row 4, row 5)\nExplanation: The statement wants to check the om647 diesel i5 had third lowest numbered displacement. We need to know the first three low numbered displacement and all rows that power is om647 diesel i5. We select the row 1, row 4, row 5.\n\nIf the table only needs a few columns to tell whether the statement is True or False, we use f_select_column() to select these columns for it. For example,\n/*\ncol : code | county | former province | area (km2) | population | capital\nrow 1 : 1 | mombasa | coast | 212.5 | 939,370 | mombasa (city)\nrow 2 : 2 | kwale | coast | 8,270.3 | 649,931 | kwale\nrow 3 : 3 | kilifi | coast | 12,245.9 | 1,109,735 | kilifi\n*/\nStatement: momasa is a county with population higher than 500000.\nFunction: f_select_column(county, population)\nExplanation: The statement wants to check momasa county with population higher than 500000. We need to know the county and its population. We select the column "county" and column "population".\n\nIf the statement is about items with the same value and the number of these items, we use f_group_column() to group the items. For example,\n/*\ncol : district | name | party | residence | first served\nrow 1 : district 1 | nelson albano | dem | vineland | 2006\nrow 2 : district 1 | robert andrzejczak | dem | middle twp. | 2013†\nrow 3 : district 2 | john f. amodeo | rep | margate | 2008\n*/\nStatement: there are 5 districts are democratic\nFunction: f_group_column(party)\nExplanation: The statement wants to check 5 districts are democratic. We need to know the number of dem in the table. We group the rows according to column "party".\n\nIf the statement is about the order of items in a column, we use f_sort_column() to sort the items. For example,\n/*\ncol : position | club | played | points\nrow 1 : 1 | malaga cf | 42 | 79\nrow 10 : 10 | cp merida | 42 | 59\nrow 3 : 3 | cd numancia | 42 | 73\n*/\nStatement: cd numancia placed in the last position.\nFunction: f_sort_column(position)\nExplanation: The statement wants to check about cd numancia in the last position. We need to know the order of position from last to front. We sort the rows according to column "position".\n\nHere are examples of using the operations to tell whether the statement is True or False.\n\n/*\ncol : date | division | league | regular season | playoffs | open cup | avg. attendance\nrow 1 : 2001/01/02 | 2 | usl a-league | 4th, western | quarterfinals | did not qualify | 7,169\nrow 2 : 2002/08/06 | 2 | usl a-league | 2nd, pacific | 1st round | did not qualify | 6,260\nrow 5 : 2005/03/24 | 2 | usl first division | 5th | quarterfinals | 4th round | 6,028\n*/\nStatement: 2005 is the last year where this team was a part of the usl a-league?\nFunction Chain: f_add_column(year) -> f_select_row(row 1, row 2) -> f_select_column(year, league) -> f_sort_column(year) -> <END>\n\n*/\ncol : rank | lane | athlete | time\nrow 1 : 1 | 6 | manjeet kaur (ind) | 52.17\nrow 2 : 2 | 5 | olga tereshkova (kaz) | 51.86\nrow 3 : 3 | 4 | pinki pramanik (ind) | 53.06\n*/\nStatement: There are 10 athletes from India.\nFunction Chain: f_add_column(country of athletes) -> f_select_row(row 1, row 3) -> f_select_column(athlete, country of athletes) -> f_group_column(country of athletes) -> <END>\n\n/*\ncol : week | when | kickoff | opponent | results; final score | results; team record | game site | attendance\nrow 1 : 1 | saturday, april 13 | 7:00 p.m. | at rhein fire | w 27–21 | 1–0 | rheinstadion | 32,092\nrow 2 : 2 | saturday, april 20 | 7:00 p.m. | london monarchs | w 37–3 | 2–0 | waldstadion | 34,186\nrow 3 : 3 | sunday, april 28 | 6:00 p.m. | at barcelona dragons | w 33–29 | 3–0 | estadi olímpic de montjuïc | 17,503\n*/\nStatement: the competition with highest points scored is played on April 20.\nFunction Chain: f_add_column(points scored) -> f_select_row(*) -> f_select_column(when, points scored) -> f_sort_column(points scored) -> <END>\n\n/*\ncol : iso/iec standard | status | wg\nrow 1 : iso/iec tr 19759 | published (2005) | 20\nrow 2 : iso/iec 15288 | published (2008) | 7\nrow 3 : iso/iec 12207 | published (2011) | 7\n*/\nStatement: 2 standards are published in 2011\nFunction Chain: f_add_column(year) -> f_select_row(row 3) -> f_select_column(year) -> f_group_column(year) -> <END>\n\nHere are examples of using the operations to tell whether the statement is True or False.\n\n/*\ncol : game | date | opponent | result | wildcats points | opponents | record\nrow 1 : 1 | sept 20 | ole miss | loss | 7 | 14 | 0 - 1\nrow 2 : 2 | sept 27 | cincinnati | win | 20 | 0 | 1 - 1\nrow 3 : 3 | oct 4 | xavier | win | 20 | 7 | 2 - 1\nrow 4 : 4 | oct 11 | 9 georgia | win | 26 | 0 | 3 - 1 , 20\nrow 5 : 5 | oct 18 | 10 vanderbilt | win | 14 | 0 | 4 - 1 , 14\nrow 6 : 6 | oct 25 | michigan state | win | 7 | 6 | 5 - 1 , 13\nrow 7 : 7 | nov 1 | 18 alabama | loss | 0 | 13 | 5 - 2\nrow 8 : 8 | nov 8 | west virginia | win | 15 | 6 | 6 - 2\nrow 9 : 9 | nov 15 | evansville | win | 36 | 0 | 7 - 2\nrow 10 : 10 | nov 22 | tennessee | loss | 6 | 13 | 7 - 3\n*/\nStatement: the wildcats kept the opposing team scoreless in four games\nThe next operation must be one of f_add_column() or f_select_row() or f_select_column() or f_group_column() or f_sort_column().\nFunction Chain: ',
   'response': 'f_add_column(opponents points) -> f_select_row(*) -> f_select_column(result, opponents points) -> f_group_column(result) -> <END>',
   'generate_operations': ['add_column',
    'select_row',
    'select_column',
    'group_column',
    '<END>'],
   'next_operation': 'add_column'},
  {'act_chain': ['skip f_add_column()'],
   'last_operation': '<init>',
   'possible_next_operations': ['select_row',
    'select_column',
    'group_column',
    'sort_column'],
   'prompt': 'If the table only needs a few rows to tell whether the statement is True or False, we use f_select_row() to select these rows for it. For example,\n/*\ntable caption : jeep grand cherokee.\ncol : years | displacement | engine | power | torque\nrow 1 : 1999 - 2004 | 4.0l (242cid) | power tech i6 | - | 3000 rpm\nrow 2 : 1999 - 2004 | 4.7l (287cid) | powertech v8 | - | 3200 rpm\nrow 3 : 2002 - 2004 | 4.7l (287cid) | high output powertech v8 | - | -\nrow 4 : 1999 - 2001 | 3.1l diesel | 531 ohv diesel i5 | - | -\nrow 5 : 2002 - 2004 | 2.7l diesel | om647 diesel i5 | - | -\n*/\nStatement: the jeep grand cherokee with the om647 diesel i5 had the third lowest numbered displacement.\nFunction: f_select_row(row 1, row 4, row 5)\nExplanation: The statement wants to check the om647 diesel i5 had third lowest numbered displacement. We need to know the first three low numbered displacement and all rows that power is om647 diesel i5. We select the row 1, row 4, row 5.\n\nIf the table only needs a few columns to tell whether the statement is True or False, we use f_select_column() to select these columns for it. For example,\n/*\ncol : code | county | former province | area (km2) | population | capital\nrow 1 : 1 | mombasa | coast | 212.5 | 939,370 | mombasa (city)\nrow 2 : 2 | kwale | coast | 8,270.3 | 649,931 | kwale\nrow 3 : 3 | kilifi | coast | 12,245.9 | 1,109,735 | kilifi\n*/\nStatement: momasa is a county with population higher than 500000.\nFunction: f_select_column(county, population)\nExplanation: The statement wants to check momasa county with population higher than 500000. We need to know the county and its population. We select the column "county" and column "population".\n\nIf the statement is about items with the same value and the number of these items, we use f_group_column() to group the items. For example,\n/*\ncol : district | name | party | residence | first served\nrow 1 : district 1 | nelson albano | dem | vineland | 2006\nrow 2 : district 1 | robert andrzejczak | dem | middle twp. | 2013†\nrow 3 : district 2 | john f. amodeo | rep | margate | 2008\n*/\nStatement: there are 5 districts are democratic\nFunction: f_group_column(party)\nExplanation: The statement wants to check 5 districts are democratic. We need to know the number of dem in the table. We group the rows according to column "party".\n\nIf the statement is about the order of items in a column, we use f_sort_column() to sort the items. For example,\n/*\ncol : position | club | played | points\nrow 1 : 1 | malaga cf | 42 | 79\nrow 10 : 10 | cp merida | 42 | 59\nrow 3 : 3 | cd numancia | 42 | 73\n*/\nStatement: cd numancia placed in the last position.\nFunction: f_sort_column(position)\nExplanation: The statement wants to check about cd numancia in the last position. We need to know the order of position from last to front. We sort the rows according to column "position".\n\nHere are examples of using the operations to tell whether the statement is True or False.\n\n/*\ncol : date | division | league | regular season | playoffs | open cup | avg. attendance\nrow 1 : 2001/01/02 | 2 | usl a-league | 4th, western | quarterfinals | did not qualify | 7,169\nrow 2 : 2002/08/06 | 2 | usl a-league | 2nd, pacific | 1st round | did not qualify | 6,260\nrow 5 : 2005/03/24 | 2 | usl first division | 5th | quarterfinals | 4th round | 6,028\n*/\nStatement: 2005 is the last year where this team was a part of the usl a-league?\nFunction Chain: f_add_column(year) -> f_select_row(row 1, row 2) -> f_select_column(year, league) -> f_sort_column(year) -> <END>\n\n*/\ncol : rank | lane | athlete | time\nrow 1 : 1 | 6 | manjeet kaur (ind) | 52.17\nrow 2 : 2 | 5 | olga tereshkova (kaz) | 51.86\nrow 3 : 3 | 4 | pinki pramanik (ind) | 53.06\n*/\nStatement: There are 10 athletes from India.\nFunction Chain: f_add_column(country of athletes) -> f_select_row(row 1, row 3) -> f_select_column(athlete, country of athletes) -> f_group_column(country of athletes) -> <END>\n\n/*\ncol : week | when | kickoff | opponent | results; final score | results; team record | game site | attendance\nrow 1 : 1 | saturday, april 13 | 7:00 p.m. | at rhein fire | w 27–21 | 1–0 | rheinstadion | 32,092\nrow 2 : 2 | saturday, april 20 | 7:00 p.m. | london monarchs | w 37–3 | 2–0 | waldstadion | 34,186\nrow 3 : 3 | sunday, april 28 | 6:00 p.m. | at barcelona dragons | w 33–29 | 3–0 | estadi olímpic de montjuïc | 17,503\n*/\nStatement: the competition with highest points scored is played on April 20.\nFunction Chain: f_add_column(points scored) -> f_select_row(*) -> f_select_column(when, points scored) -> f_sort_column(points scored) -> <END>\n\n/*\ncol : iso/iec standard | status | wg\nrow 1 : iso/iec tr 19759 | published (2005) | 20\nrow 2 : iso/iec 15288 | published (2008) | 7\nrow 3 : iso/iec 12207 | published (2011) | 7\n*/\nStatement: 2 standards are published in 2011\nFunction Chain: f_add_column(year) -> f_select_row(row 3) -> f_select_column(year) -> f_group_column(year) -> <END>\n\nHere are examples of using the operations to tell whether the statement is True or False.\n\n/*\ncol : game | date | opponent | result | wildcats points | opponents | record\nrow 1 : 1 | sept 20 | ole miss | loss | 7 | 14 | 0 - 1\nrow 2 : 2 | sept 27 | cincinnati | win | 20 | 0 | 1 - 1\nrow 3 : 3 | oct 4 | xavier | win | 20 | 7 | 2 - 1\nrow 4 : 4 | oct 11 | 9 georgia | win | 26 | 0 | 3 - 1 , 20\nrow 5 : 5 | oct 18 | 10 vanderbilt | win | 14 | 0 | 4 - 1 , 14\nrow 6 : 6 | oct 25 | michigan state | win | 7 | 6 | 5 - 1 , 13\nrow 7 : 7 | nov 1 | 18 alabama | loss | 0 | 13 | 5 - 2\nrow 8 : 8 | nov 8 | west virginia | win | 15 | 6 | 6 - 2\nrow 9 : 9 | nov 15 | evansville | win | 36 | 0 | 7 - 2\nrow 10 : 10 | nov 22 | tennessee | loss | 6 | 13 | 7 - 3\n*/\nStatement: the wildcats kept the opposing team scoreless in four games\nThe next operation must be one of f_select_row() or f_select_column() or f_group_column() or f_sort_column().\nFunction Chain: ',
   'response': 'f_select_row(row 2, row 3, row 4, row 9)',
   'generate_operations': ['select_row'],
   'next_operation': 'select_row'},
  {'act_chain': ['skip f_add_column()',
    'f_select_row(row 1, row 2, row 3, row 4)'],
   'last_operation': 'select_row',
   'possible_next_operations': ['select_column',
    'group_column',
    'sort_column',
    '<END>'],